*/bfs/bfs
*/gaussian/gaussian
*/hotspot/hotspot
*/hotspot3D/hotspot3D
*/lavaMD/kernel/kernel_gpu_cuda_wrapper.o
*/lavaMD/lavaMD
*/lavaMD/main.o
*/lavaMD/util/device/device.o
*/nn/hurricane_gen
*/nn/nn
*/nw/nw
*/particlefilter/particlefilter_float
*/pathfinder/pathfinder
hip/lavaMD/kernel/kernel_gpu_cuda_wrapper.o
*/*/*.csv
*/*/*.txt

